<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>

<body>
    <!--SECCIÓN CAROUSEL-->
    <div class="col-12 d-flex justify-content-center">
        <div class="col-2 d-flex justify-content-end">
            <div class="col-12 d-flex justify-content-end">
                <div class="col-12">
                    <div class="col-12" id="twitterBanner">
                        <img src="../assets/resources/icon_twitter.png" width="30" height="26">
                        <p>Follow us on Twitter</p>
                    </div>
                    <div class="col-12" id="facebookBanner">
                        <img src="../assets/resources/icon_facebook.png" width="15" height="26">
                        <p>Follow us on Facebook</p>
                    </div>
                    <div class="col-12" id="weiboBanner">
                        <img src="../assets/resources/weibo.png" width="30" height="26">
                        <p>Follow us on Weibo</p>
                    </div>
                    <div class="col-12" id="mangaBanner">
                        <div class="col-12" id="titleWords">
                            <p>New Manga Entry</p>
                        </div>
                        <img src="../assets/resources/mangas/manga7.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">19. カナン様はあく<br>までチョロい</p>
                        <img src="../assets/resources/mangas/manga8.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">20. 魔入りました！<br>入間くん</p>
                        <img src="../assets/resources/mangas/manga9.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">07. その着せ替え人<br>形は恋をする</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide d-flex justify-content-center"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="../assets/resources/banners/carousel2.jpg" class="d-block img-fluid w-80">
                            </div>
                            <div class="carousel-item active">
                                <img src="../assets/resources/banners/carousel1.jpg" class="d-block img-fluid w-80">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/resources/banners/carousel3.jpg" class="d-block img-fluid w-80">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/resources/banners/carousel4.jpg" class="d-block img-fluid w-80">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN NOTICIA IMPORTANTES-->
            <div class="col-12 d-flex justify-content-center">
                <p class="notice" id="firstNotice">
                    <font color="red">[IMPORTANT]</font>
                    NEW Figurines coming on Mid November.
                </p>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p class="notice">
                    Chainsaw Man new Anime available + Manga
                </p>
            </div>
            <!--SECCIÓN FIGURAS RANKING-->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex" id="titleWords">
                        <p>FIGURINE RANKING</p>
                        <a href="figurines.html">
                            <p id="more">&nbsp;&nbsp;&nbsp;>See More</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="col-2 ranking">
                            <div class="col-12">
                                <div class="col-12" id="figura1">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_gold.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure2.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Jirauto Figurine</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura2">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_silver.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure3.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Honkai Impact</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura3">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_bronze.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure1.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hokaku my Girl</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura4"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure4.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hiashi Festival</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura5"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure5.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hotaru Diablo</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura6"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure6.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Resistance Girls</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!--SECCIÓN MANGAS MÁS VENDIDOS-->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex" id="titleWords">
                        <p>MOST SOLD MANGA NOVEMBER</p>
                        <p id="more">&nbsp;&nbsp;&nbsp;>See More</p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="col-2 ranking">
                            <div class="col-12">
                                <div class="col-12" id="figura1">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_gold.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga1.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Ao Haru Ride</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura2">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_silver.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga2.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Chainsaw Man</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura3">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_bronze.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga3.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">JoJo's Adventure</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura4"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga4.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hunter X Hunter</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura5"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga5.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Mirai Nikki</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura6"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/mangas/manga6.png" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">One Punch Man</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!--SECCIÓN NOTICIAS-->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex" id="titleWords">
                        <p>Shop News</p>
                        <p id="more">&nbsp;&nbsp;&nbsp;>See More</p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div>
                        <p id="titlenotice"> Netflix Produces Live-Action Film of Kōtarō Isaka's Seesaw Monster Novel
                        </p>
                        <p id="datenotice"> &nbsp;11 NOV 2022</p>
                    </div>
                    <div>
                        <p id="titlenotice"> Crunchyroll Holds Trigun Stampede Episode 1's World Premiere at Anime NYC
                        </p>
                        <p id="datenotice"> &nbsp;23 OCT 2022</p>
                    </div>
                    <div>
                        <p id="titlenotice"> Tencent's TiMi Studio Works on Monster Hunter Mobile Game</p>
                        <p id="datenotice"> &nbsp;06 JUL 2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <div class="col-12">
                <img src="../assets/resources/banners/banner15.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner16.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner14.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner13.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner12.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner11.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner10.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner9.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner8.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner6.jpg" class="imgSide" width="200" height="100">
            </div>
        </div>
    </div>
    <!---------------------------------------------------------->
    <footer>
        <div id="foottext" class="col-12 d-flex justify-content-center">
            <p>Follow us on our Social media</p>
        </div>
        <div id="foot" class="col-12 d-flex justify-content-center">
            <img src="../assets/resources/facebook.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/twitter.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/weibo.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/instagram.png" id="mediaicon" width="24" height="24">
        </div>
    </footer>
</body>