<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="fixedHelp">
            <a href="help.html">
                <div>
                    <button id="buttonHelp">
                        GET HELP
                    </button>
                </div>
            </a>
        </div>
    </header>
    <!--SECCIÓN CAROUSEL-->
    <div class="col-12 d-flex justify-content-center">
        <div class="col-2 d-flex justify-content-end">
            <div class="col-12 d-flex justify-content-end">
                <div class="col-12">
                    <div class="col-12" id="twitterBanner">
                        <img src="../assets/resources/icon_twitter.png" width="30" height="26">
                        <p>Follow us on Twitter</p>
                    </div>
                    <div class="col-12" id="facebookBanner">
                        <img src="../assets/resources/icon_facebook.png" width="15" height="26">
                        <p>Follow us on Facebook</p>
                    </div>
                    <div class="col-12" id="weiboBanner">
                        <img src="../assets/resources/weibo.png" width="30" height="26">
                        <p>Follow us on Weibo</p>
                    </div>
                    <div class="col-12" id="mangaBanner">
                        <div class="col-12" id="titleWords">
                            <p>New Manga Entry</p>
                        </div>
                        <img src="../assets/resources/mangas/manga7.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">19. カナン様はあく<br>までチョロい</p>
                        <img src="../assets/resources/mangas/manga8.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">20. 魔入りました！<br>入間くん</p>
                        <img src="../assets/resources/mangas/manga9.jpg" id="mangaImg" width="131" height="188">
                        <p id="titleManga">07. その着せ替え人<br>形は恋をする</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <!--SECCIÓN FIGURAS RANKING-->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex" id="titleWords">
                        <p>FIGURINE RANKING</p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="col-2 ranking">
                            <div class="col-12">
                                <div class="col-12" id="figura1">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_gold.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure2.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Jirauto Figurine</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura2">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_silver.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure3.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Honkai Impact</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura3">
                                    <img id="imagecrown" src="../assets/resources/icon_rank_bronze.png" width="20" height="16">
                                </div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure1.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hokaku my Girl</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura4"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure4.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hiashi Festival</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura5"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure5.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Hotaru Diablo</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12" id="figura6"></div>
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure6.jpg" width="150" height="150">
                                </div>
                                <div class="col-12 itemtitle">Resistance Girls</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <br>
            <!------------------------------->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex" id="titleWords2">
                        <p>NEW ADDED</p>
                    </div>
                </div>
            </div>
            <!------------------------------->
            <div class="col-12 d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure7.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure">&nbsp;PRE-ORDER</div>
                                <div class="col-12 itemtitle">Girl's Frontline</div>
                                <div class="col-12 shoptitle">Good Smile Company</div>
                                <div class="col-12 pricetitle">125,50</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure8.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure">&nbsp;PRE-ORDER</div>
                                <div class="col-12 itemtitle">Diabolism Master</div>
                                <div class="col-12 shoptitle">Bellfine</div>
                                <div class="col-12 pricetitle">185</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure9.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure2">&nbsp;IN-STOCK</div>
                                <div class="col-12 itemtitle">Roxy Figurine</div>
                                <div class="col-12 shoptitle">GENESIS</div>
                                <div class="col-12 pricetitle">105,49</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure10.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure">&nbsp;PRE-ORDER</div>
                                <div class="col-12 itemtitle">Cutie1 JuJu</div>
                                <div class="col-12 shoptitle">Square Enix</div>
                                <div class="col-12 pricetitle">92,15</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure11.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure2">&nbsp;IN-STOCK</div>
                                <div class="col-12 itemtitle">Super Bizarre</div>
                                <div class="col-12 shoptitle">AXYTOYS</div>
                                <div class="col-12 pricetitle">98,99</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure12.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure3">&nbsp;CLOSED</div>
                                <div class="col-12 itemtitle">Hetalia World</div>
                                <div class="col-12 shoptitle">Youtoz</div>
                                <div class="col-12 pricetitle">96,10</div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="col-12 d-flex justify-content-center" id="figurinehtml">
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure13.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure2">&nbsp;IN-STOCK</div>
                                <div class="col-12 itemtitle">Takopi</div>
                                <div class="col-12 shoptitle">NetEase Games</div>
                                <div class="col-12 pricetitle">150,02</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure14.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure">&nbsp;PRE-ORDER</div>
                                <div class="col-12 itemtitle">Castlevania</div>
                                <div class="col-12 shoptitle">miHoyo LLT</div>
                                <div class="col-12 pricetitle">235,50</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure15.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure2">&nbsp;IN-STOCK</div>
                                <div class="col-12 itemtitle">Tigamanu</div>
                                <div class="col-12 shoptitle">Riot Games</div>
                                <div class="col-12 pricetitle">188,32</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure16.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure3">&nbsp;CLOSED</div>
                                <div class="col-12 itemtitle">Naofami Hero</div>
                                <div class="col-12 shoptitle">Figma</div>
                                <div class="col-12 pricetitle">171,50</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure17.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure2">&nbsp;IN-STOCK</div>
                                <div class="col-12 itemtitle">Bungo Stray</div>
                                <div class="col-12 shoptitle">Jungle</div>
                                <div class="col-12 pricetitle">350,10</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="col-12">
                                <div class="col-12">
                                    <img src="../assets/resources/figurines/figure18.jpg" width="150" height="150">
                                </div>
                                <div id="statusfigure3">&nbsp;CLOSED</div>
                                <div class="col-12 itemtitle">Ooma Tokita</div>
                                <div class="col-12 shoptitle">Kotobukiya</div>
                                <div class="col-12 pricetitle">54,50</div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <hr>
                    <div class="col-12 d-flex justify-content-center" id="mostRead2">
                        <div class="col-4">
                            <div id="newsSec">
                                <div class="col-12">
                                    <p id="newp">Packets types</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Can I split my shipment?</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Can I buy a product for a third?</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Shipment Info</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="newsSec">
                                <div class="col-12">
                                    <p id="newp">How many products can I buy?</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Payment methods available?</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Flare rates</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Do you ease invoice?</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="newsSec">
                                <div class="col-12">
                                    <p id="newp">COVID Measures</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">Free days on Holidays</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">How products are treathed</p>
                                    <hr>
                                </div>
                                <div class="col-12">
                                    <p id="newp">It is posible to buy presents?</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------------------------------->
        </div>
        <div class="col-2 d-flex justify-content-end">
            <div class="col-12">
                <img src="../assets/resources/banners/banner1.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner2.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner3.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner4.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner5.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner8.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner9.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner11.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner6.jpg" class="imgSide" width="200" height="100">
                <img src="../assets/resources/banners/banner10.jpg" class="imgSide" width="200" height="100">
            </div>
        </div>
    </div>
    <!---------------------------------------------------------->
    <footer>
        <div id="foottext" class="col-12 d-flex justify-content-center">
            <p>Follow us on our Social media</p>
        </div>
        <div id="foot" class="col-12 d-flex justify-content-center">
            <img src="../assets/resources/facebook.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/twitter.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/weibo.png" id="mediaicon" width="24" height="24">
            <img src="../assets/resources/instagram.png" id="mediaicon" width="24" height="24">
        </div>
    </footer>
</body>